
*{
    margin: 0;
    padding: 0;
}
p{
    margin: 0px;
}
body{
    margin: auto;
    font-family: 'Microsoft Yahei'
  
  
}
.bghs{
    background: #ccc;
}
.bgbs{
    background: #fff;
}

.bge3{
    background: #E3F3FB;
}
.au{
    margin-left: auto;
    margin-right: auto;
}
.dian{
    white-space:nowrap;
    text-overflow: ellipsis; 
    overflow: hidden;
}
.dianer{
      overflow : hidden;
           
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
}
.diansan{
      overflow : hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
}
.bgff{
    background: #fff !important;
}

.box{
       display:-webkit-box;
            display:-moz-box;
            display:-ms-box;
            display:-o-box;
            display:box;
}
 .bglscf{
            background: #0F6BAA;
            color: #fff;
        }
.box_a{
    -webkit-box-flex: 1;
            -moz-box-flex:1;
            -ms-box-flex:1;
            -moz-o-flex:1;
            box-flex:1;
    display: block;
}
.box_b{
    -webkit-box-flex: 2;
            -moz-box-flex:2;
            -ms-box-flex:2;
            -moz-o-flex:2;
            box-flex:2;
}
.box_c{
    -webkit-box-flex: 3;
            -moz-box-flex:3;
            -ms-box-flex:3;
            -moz-o-flex:3;
            box-flex:3;
}
.box_d{
    -webkit-box-flex: 4;
            -moz-box-flex:4;
            -ms-box-flex:4;
            -moz-o-flex:4;
            box-flex:4;
}
.ma{
    margin: auto;
}
.xz_po_a a{
    color: #575757;
}
.page input[type="button"]{
    min-height: 38px;
}
.yj4{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.yj{
    border-radius:50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.bkbs{
    border: 1px solid #d6d6db;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.pd{
    padding-left: 10px;
    padding-right: 10px;
}
    .f_i{
            display:inline-block;
            *display:inline;
            *zoom:1;
            background: url(/img/phone/xbt.png);
        background-size: 360px;
         
        }
  .f_q{
            display:inline-block;
            *display:inline;
            *zoom:1;
            background: url(../img/icon.png);
         
        }

    .f_b{
            display:inline-block;
            *display:inline;
            *zoom:1;
           
        }

.wd{
    width: 1005px;
   margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
}
.footer a{
    margin-right: 10px;
    padding-left: 10px;
    color: #C6C7C8;
}

.footer {
    border: 0px;
    min-width: 1200px;
    background: #2e3643;
    color: #C6C7C8;
    font-size: 14px
}
.ov{
    overflow: hidden;
}
.footer a:hover{
    color: #f0ff00;
    border: 0px;
}
em{
    font-size: 20px;
    margin-right: 6px;
    position: relative;;
    top: 8px;
}
.tm5{
    filter: alpha(opacity = 50);
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
}
.tr{
    text-align: right;
}
.gun_title{
  padding-left:25px;
}
.mt5{
    margin-top: 5px;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
.mt40{
    margin-top: 40px;
}
.mt50{
    margin-top: 50px;
}

.mt60{
    margin-top: 60px;
}
.b{
    font-weight: 900;
}
.pr{
    position: relative;
    z-index: 10;
}

.mt70{
    margin-top: 70px;
}
.mt80{
    margin-top: 80px;
}
.mt90{
    margin-top: 90px;
}
.mt110{
    margin-top: 110px;
}
.mt120{
    margin-top: 120px;
}
.mt130{
    margin-top: 130px;
}
.ml10{
    margin-left: 10px;
}

.hs{
    color: #FE5959;
}
.c57{
    color: #575757;
}
.ml20{
    margin-left: 20px;
}
.ml30{
    margin-left: 30px;
}
.ml40{
    margin-left: 40px;
}
.ml50{
    margin-left: 50px;
}
.ml60{
    margin-left: 60px;
}
.ml70{
    margin-left: 70px;
}
.ml80{
    margin-left: 80px;
}
.ml100{
    margin-left: 100px;
}
.m90{
    margin-left: 90px;
}
.ml110{
    margin-left: 110px;
}
.ml120{
    margin-left: 120px;
}
.mr10{
    margin-right: 10px
}
.mr20{
  margin-right: 20px;
}
.mr30{
    margin-right: 30px
}
.fz12{
    font-size: 12px;
}
.fz14{
    font-size: 14px;
}
.fz16{
    font-size: 16px;
}
.fz18{
    font-size: 18px;
}
.fz20{
    font-size: 20px;
}
.fz21{
    font-size: 21px;
}
.fz22{
    font-size: 22px;
}
.fz24{
    font-size: 24px;
}
.fz26{
    font-size: 26px;
}
.fz28{
    font-size: 28px;
}
.fz30{
    font-size: 30px;
}
.fz32{
    font-size: 32px;
}
.fz34{
    font-size: 34px;
}
.fz36{
    font-size: 36px;
}

.ptm{
    padding: 100px 0px;
}
.pt5{
    padding-top: 5px;
}
.pt10{
    padding-top: 10px;
}
.pl4{
    padding-left: 4px;
}
.pl10{
    padding-left: 10px;
}
.pl20{
    padding-left: 20px;
}
.pt20{
    padding-top: 20px;
}

.pt30{
    padding-top: 30px;
}

.pt40{
    padding-top: 40px;
}



.pr10{
    padding-right: 10px;
}
.pr20{
    padding-right: 20px;
}

.pr30{
    padding-right: 30px;
}

.pr40{
    padding-right: 40px;
}




.pm5{
    padding-bottom: 5px;
}
.pm10{
    padding-bottom: 10px;
}
.pm20{
   padding-bottom: 20px;
}

.pm30{
   padding-bottom: 30px;
}

.pm40{
   padding-bottom: 40px;
}

@media screen and (min-width: 400px){
     .fz18{
        font-size: 20px;
    }
    .fz24{
        font-size: 28px;
    }
}



input,textarea{
     text-indent: 10px;
}
.input_one{
    width: 250px;
    position: relative;
}
.input_two{
    width: 120px;
     position: relative;
}
.input310{
     width: 310px;
    position: relative;
}
.input180{
     width: 180px;
    position: relative;
}
.input280{
     width: 280px;
    position: relative;
}
.input77{
     width: 77px;
    position: relative;
}
.sj24{
    text-indent: 24px;
}

.cf{
    color: #fff;
}
.cls{
     color: #0F6BAA;
}
.cl5e5e5e{
    color: #5e5e5e;
}
.bg_h{
    background: #FF7800;
}
.ch{
    color: #000;
}

.index_pup_a{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}
.zh_a_pup{
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

}
.pup_submit{
    font-size: 14px;
}
.index_logio_a{
    width: 360px;
    position: relative;
    background: #fff;
    margin: 80px auto;
    position: relative;
    z-index: 10;
    padding: 40px 0px 30px 0px;
}
.index_logio_a label{
    width: 18px;
    height: 18px;

    position: absolute;
}
.user_icon{
    background: url(../images/logo_jl.png) -9px -10px;
    left: 8px;
    top: 10px;
   position: relative;
    z-index: 1000;
}
.password_icon{
    background: url(../images/logo_jl.png) -48px -9px;
    left: 8px;
    top: 10px;
}
.gd{
       transition: width 2s, height 2s,left 2s, transform 2s;
            -moz-transition: width 2s, height 2s,left 2s, -moz-transform 2s;
            -webkit-transition: width 2s, height 2s,left 2s, -webkit-transform 2s;
            -o-transition: width 2s, height 2s,left 2s,-o-transform 2s;
}
.zh_po{
    color: #575757;
    font-size: 16px;

}
.index_logio_b{
    width: 250px;
    margin: auto;
}
.index_logio_b p{
    margin-bottom: 20px;
}
.wj_mi_a{
    padding-left: 2px;
}
.wj_mi_a a{
    color: #A6A6A6;
    margin-right: 16px;

}
        .index_logio_b button{
         width: 101%;
        }
        .index_logio_b input[type="text"], .index_logio_b  input[type="password"]{
            line-height: 12px;
            text-indent: 30px;
        }
.wj_a{
    margin-left: 16px;
}
.cen{
    text-align: center;
}
.cr{
    text-align: right;
}
.close_a_A{
    width: 18px;
    height: 18px;
    background: url(../images/logo_jl.png) -115px -9px;
    position: absolute;
    right: 20px;
    top: 16px;
}
em{
    color: red;
}
.cons_log_a{
    background: #FCEEE8;
    width:95%;
    text-indent: 30px;
    border: 1px solid #F6C8B5;
    padding: 4px 0px;
    color: #575757;
    padding-right: 12px;
    position: relative;
    display: none;
}
.cons_log_a label{
    left: 8px;
    top: 6px;
    background: url(../images/logo_jl.png) -79px -9px;
}
.qc{
    clear: both;
}
.poi_ctit  select{
    width: 90px;
    height: 38px;
    margin-right: 10px;
    text-align: center;
}

      
        .datu_t_a{
            width: 535px;
            margin: auto;
            background: #fff;
            position: relative;
           /* height: 800px;;*/
            height: 80%;
            z-index: 10;
            padding: 10px 20px 56px 20px;
            margin-top: 80px;
            
            
           
        }
.ls{
    color: #009ef6;
}
.bgls{
    background: #009ef6;
}

        .logo_icon_a{
            width: 123px;
            height: 46px;
            display: inline-block;
            background: url(../images/logo_jl.png) -109px -106px;
            position: relative;
            top: 6px;
        }
        .header{
            background: #2A8DE2;
        }
        .datu_t_a img{
            width: 100%;
            height: 100%;
        }
        .po_a_a{
            margin-bottom: 10px;
            position: relative;
            left: -14px;
        }

        .log_success{
            color: #fff;
            position: relative;
            float: right;
            top: 6px;
        }
        .log_success img{
            width: 28px;
            height: 28px;
            position: relative;
            top: 8px;
            margin-right: 10px;
        }


         @media screen and (max-width: 1300px){
             .datu_t_a{
                 width: 485px;
               
             }
        }
/*套航条*/
.g-center-wrap{
    height: 100px;
    border-top: 3px solid #0b408c;
    background: #fff;
}
.logo{
    width: 210px;
    height: 78px;
    background-position: -19px -13px;
    margin-top: 6px
}
.f-fix{
    list-style: none;
    font-size: 12px;
    line-height: 100px;
  


}
.nav_pou_a{
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 1000;

    top: 0;
}

.xiappoi_a{
    position: absolute;
    z-index: 10;
    background: #fff;
    right: 0px;
    top: 40px;
    border: 1px solid #e0e0e0;
    border-bottom: 0px;


}
.xiappoi_a p{
    font-size: 12px;
    border-bottom: 1px solid #e0e0e0;
    padding:6px 20px;
    text-align: center;
    margin: 0;

}
.xiappoi_a p:hover{
    background: #f8f8f8;
}
.xiappoi_a{
    display: none;
}
.f-fix a{
     color: #5a5a5a;
} 
 
.f-fix li{

    display: inline;
}
.f-fix li a{
    padding: 40px 20px;

}
.zc{
    color: #999999;
}
.zb{
    color: #6B6B6B;
}
.zd{
    color: #141414
}
.f-fix li a:hover{
    cursor: pointer;
    border-bottom: 3px solid #0b408c;
}
.bm{
    border-bottom: 3px solid #0b408c;
}
a{
    text-decoration:none;
}
a:hover{
     text-decoration:none;
}
.gd_a{
    transition: width 0.8s, height 0.8s,left 0.8s,top 0.8s, transform 0.8s;
    -moz-transition: width 0.8s, height 0.8s,left 0.8s,top 0.8s, -moz-transform 0.8s;
    -webkit-transition: width 0.8s, height 0.8s,left 0.8s,top 0.8s, -webkit-transform 0.8s;
    -o-transition: width 0.8s, height 0.8s,left 0.8s,top 0.8s,-o-transform 0.8s;
}
.brm{
    border-bottom: 1px solid #e0e0e0
}
.br0{
    border: 0px !important;
}
@media screen and (min-width: 340px){
   /* .fz12{
        font-size: 14px;
    }
      .fz14{
        font-size: 16px;
    }
      .fz16{
        font-size: 18px;
    }
    .mt5{
        margin-top: 10px;
    }*/
}
/*@media screen and (min-width: 700px){
    .pt10{
        padding-top: 30px;
        
    }
      .pm10{
        padding-bottom: 30px;
        
    }
    .fz12{
        font-size: 26px;
    }
      .fz14{
        font-size: 28px;
    }
      .fz16{
        font-size: 30px;
    }
    .mt5{
        margin-top: 50px;
    }
}*/